<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxBrowser:{}}" -->
<div is="dmx-browser" id="browser1"></div>
<dmx-serverconnect id="scLogin" url="/api/login/login" noload="true"></dmx-serverconnect>
<div class="container">

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form id="login1" autocomplete="off" is="dmx-serverconnect-form" method="post" action="/api/login/login" dmx-on:success="browser1.goto('/members/mem_list')" dmx-on:unauthorized="browser1.goto('/unauthorized')">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-start">
                        <div class="row">
                            <div class="col">
                                <h5>Log In</h5>
                                <p class="text-h3">Enter your details below.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <input type="text" id="inp_email" name="email" class="form-control" placeholder="Email" autocomplete="email">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password" autocomplete="new-password">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <button id="login1_submit" class="btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<meta name="ac:route" content="/">