<!-- Wappler include head-page="layouts/lh_menu" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="list_mems" appConnect="local" components="{dmxStateManagement:{},dmxBootstrap5TableGenerator:{},dmxBootstrap5Modal:{}}" -->

<meta name="ac:route" content="/list_mems">
<dmx-query-manager id="query1"></dmx-query-manager>
<dmx-serverconnect id="scListMems" url="/api/members/listMems"></dmx-serverconnect>
<dmx-serverconnect id="scGetSingleMem" url="/api/members/getSingleMem" noload="true" dmx-param:memdetsid=""></dmx-serverconnect>
<div class="modal fade" id="modal1" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/members/updateMember" dmx-generator="bootstrap5" dmx-form-type="horizontal">

                    <!-- Name row: first & last -->
                    <div class="row g-3 mb-3">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="inp_fName" class="form-label col-form-label-sm">First Name</label>
                                <input type="text" class="form-control form-control-sm" id="inp_fName" name="fname" aria-describedby="inp_fName_help" placeholder="First name" dmx-bind:value="scGetSingleMem.data.query.fName">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="inp_lName" class="form-label col-form-label-sm">Last Name</label>
                                <input type="text" class="form-control form-control-sm" id="inp_lName" name="lname" aria-describedby="inp_lName_help" placeholder="Last name" dmx-bind:value="scGetSingleMem.data.query.lName">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="inp_email" class="form-label col-form-label-sm">Email</label>
                                <input type="text" class="form-control form-control-sm" id="inp_email" name="email" aria-describedby="inp_email_help" placeholder="Enter Email" dmx-bind:value="scGetSingleMem.data.email_dec">
                            </div>
                        </div>
                    </div>

                    <!-- Email -->


                    <!-- Address 1 & Address 2 -->
                    <div class="row g-3 mb-3">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="address1" class="form-label col-form-label-sm">Address 1</label>
                                <input class="form-control form-control-sm" id="address1" name="address1" aria-describedby="address1_help" placeholder="Enter Address 1" dmx-text="scGetSingleMem.data.address1_dec">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="address2" class="form-label col-form-label-sm">Address 2</label>
                                <input class="form-control form-control-sm" id="address2" name="address2" aria-describedby="address2_help" placeholder="Enter Address 2" dmx-text="serverconnectform1.data.address2_dec">
                            </div>
                        </div>
                    </div>

                    <!-- Town 1, Town 2, Postcode on same row -->
                    <div class="row g-3 mb-3">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="town" class="form-label col-form-label-sm">Town 1</label>
                                <input class="form-control form-control-sm" id="town" name="town" placeholder="Town 1">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="town2" class="form-label">Town 2</label>
                                <input class="form-control" id="town2" name="town2" placeholder="Town 2">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label for="postcode" class="form-label col-form-label-sm">Postcode</label>
                                <input class="form-control form-control-sm" id="postcode" name="postcode" placeholder="Postcode" dmx-text="serverconnectform1.data.postcode_dec">
                            </div>
                        </div>
                    </div>

                    <!-- Mobile & Telephone -->
                    <div class="row g-3 mb-3">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="mobile1" class="form-label col-form-label-sm">Mobile</label>
                                <input class="form-control form-control-sm" id="mobile1" name="mobilee" aria-describedby="mobile1_help" placeholder="Enter Mobile" dmx-text="serverconnectform1.data.mob_dec">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="tel" class="form-label col-form-label-sm">Telephone</label>
                                <input class="form-control form-control-sm" id="tel" name="tel" aria-describedby="tel_help" placeholder="Enter Tel No." dmx-text="scGetSingleMem.data.tel_dec">
                            </div>
                        </div>
                    </div>


                    <!-- Notes -->
                    <div class="form-group mb-3">
                        <label for="notes" class="form-label col-form-label-sm">Notes</label>
                        <textarea id="notes" class="form-control" name="notes" dmx-text="serverconnectform1.data.notes_dec"></textarea>
                    </div>

                    <!-- Date joined -->
                    <div class="row g-3 mb-3">
                        <div class="col-12 col-md-6">
                            <label for="inp_dateJoined" class="form-label col-form-label-sm">Date joined</label>
                            <input type="date" class="form-control form-control-sm" id="inp_dateJoined" name="dateJoined" aria-describedby="inp_dateJoined_help" placeholder="Enter Date joined">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="inp_dateJoined" class="form-label">Membership Type</label><select id="selMemType" class="form-select form-select-sm" dmx-bind:options="scMemType.data.query" optiontext="memDesc" optionvalue="memTypeId">
                            </select>
                            <input id="hidMemType" name="hidMemType" type="hidden" class="form-control" dmx-bind:value="selMemType.value">
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Save <span class="spinner-border spinner-border-sm ms-2" role="status" dmx-show="state.executing"></span></button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="sorting" dmx-on:click="query1.set('sort','memDetsId');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='memDetsId' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='memDetsId' && query1.data.dir == 'desc'">Mem dets</th>
                            <th class="sorting" dmx-on:click="query1.set('sort','fName');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='fName' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='fName' && query1.data.dir == 'desc'">F name</th>
                            <th class="sorting" dmx-on:click="query1.set('sort','dateJoined');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='dateJoined' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='dateJoined' && query1.data.dir == 'desc'">Date joined</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scListMems.data.qryListMems" id="tableRepeat1" dmx-state="query1" dmx-sort="sort" dmx-order="dir">
                        <tr>
                            <td>
                                <button id="btn1" class="btn" dmx-on:click="scGetSingleMem.load({memdetsid: memDetsId, memdtsid: memDetsId});modal1.show()"><i class="fas fa-edit fa-lg"></i></button>
                            </td>
                            <td dmx-text="memNo">Cell</td>
                            <td dmx-text="memDetsId"></td>
                            <td dmx-text="fName"></td>
                            <td dmx-text="lName">Cell</td>
                            <td dmx-text="dateJoined"></td>
                            <td dmx-text="lastPaidDte">Cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>