<!-- Wappler include head-page="layouts/lh_menu" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="list_mems" appConnect="local" components="{dmxStateManagement:{}}" -->
<meta name="ac:route" content="/list_mems">
<dmx-query-manager id="query1"></dmx-query-manager>
<div class="container">
<div class="row">
<div class="col"></div>
</div>
<div class="row">
<div class="col"></div>
</div>
</div>

