<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="member" appConnect="local" -->
<dmx-serverconnect id="scAddMember" url="/api/members/addMember" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="scMemType" url="/api/members/selectMemType"></dmx-serverconnect>
<meta name="ac:route" content="/member">
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-white bg-primary">Add New Member</h4>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/addMember" dmx-generator="bootstrap5" dmx-form-type="horizontal">

                <!-- Name row: first & last -->
                <div class="row g-3 mb-3">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="inp_fName" class="form-label col-form-label-sm">First Name</label>
                            <input type="text" class="form-control form-control-sm" id="inp_fName" name="fname" aria-describedby="inp_fName_help" placeholder="First name">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="inp_lName" class="form-label col-form-label-sm">Last Name</label>
                            <input type="text" class="form-control form-control-sm" id="inp_lName" name="lname" aria-describedby="inp_lName_help" placeholder="Last name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="inp_email" class="form-label col-form-label-sm">Email</label>
                            <input type="text" class="form-control form-control-sm" id="inp_email" name="email" aria-describedby="inp_email_help" placeholder="Enter Email">
                        </div>
                    </div>
                </div>

                <!-- Email -->


                <!-- Address 1 & Address 2 -->
                <div class="row g-3 mb-3">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="address1" class="form-label col-form-label-sm">Address 1</label>
                            <input class="form-control form-control-sm" id="address1" name="address1" aria-describedby="address1_help" placeholder="Enter Address 1">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="address2" class="form-label col-form-label-sm">Address 2</label>
                            <input class="form-control form-control-sm" id="address2" name="address2" aria-describedby="address2_help" placeholder="Enter Address 2">
                        </div>
                    </div>
                </div>

                <!-- Town 1, Town 2, Postcode on same row -->
                <div class="row g-3 mb-3">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="town" class="form-label col-form-label-sm">Town 1</label>
                            <input class="form-control form-control-sm" id="town" name="town" placeholder="Town 1">
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="town2" class="form-label">Town 2</label>
                            <input class="form-control" id="town2" name="town2" placeholder="Town 2">
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="postcode" class="form-label col-form-label-sm">Postcode</label>
                            <input class="form-control form-control-sm" id="postcode" name="postcode" placeholder="Postcode">
                        </div>
                    </div>
                </div>

                <!-- Mobile & Telephone -->
                <div class="row g-3 mb-3">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="mobile1" class="form-label col-form-label-sm">Mobile</label>
                            <input class="form-control form-control-sm" id="mobile1" name="mobilee" aria-describedby="mobile1_help" placeholder="Enter Mobile">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="tel" class="form-label col-form-label-sm">Telephone</label>
                            <input class="form-control form-control-sm" id="tel" name="tel" aria-describedby="tel_help" placeholder="Enter Tel No.">
                        </div>
                    </div>
                </div>


                <!-- Notes -->
                <div class="form-group mb-3">
                    <label for="notes" class="form-label col-form-label-sm">Notes</label>
                    <textarea id="notes" class="form-control" name="notes"></textarea>
                </div>

                <!-- Date joined -->
                <div class="row g-3 mb-3">
                    <div class="col-12 col-md-6">
                        <label for="inp_dateJoined" class="form-label col-form-label-sm">Date joined</label>
                        <input type="date" class="form-control form-control-sm" id="inp_dateJoined" name="dateJoined" aria-describedby="inp_dateJoined_help" placeholder="Enter Date joined">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inp_dateJoined" class="form-label">Membership Type</label><select id="selMemType" class="form-select form-select-sm" dmx-bind:options="scMemType.data.query" optiontext="memDesc" optionvalue="memTypeId">
                        </select>
                        <input id="hidMemType" name="hidMemType" type="hidden" class="form-control" dmx-bind:value="selMemType.value">
                    </div>
                </div>

                <!-- Submit -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Save <span class="spinner-border spinner-border-sm ms-2" role="status" dmx-show="state.executing"></span></button>
                </div>

            </form>
        </div>
    </div>
</div>