<!-- Wappler include head-page="layouts/lh_menu" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="all_comms_docs" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5Tooltips:{}}" -->
<meta name="ac:route" content="/emails/all_comms_docs">
<dmx-serverconnect id="scGetAllCommsDocs" url="/api/emailDocs/getCommsDocs"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row"></div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-sm">
                            <thead>
                                <tr class="text-center">
                                    <th class="bg-warning">Membership No.</th>
                                    <th class="bg-warning">Name</th>
                                    <th class="bg-warning">Document Type</th>
                                    <th class="bg-warning">Date</th>

                                    <th class="bg-warning">Status</th>
                                    <th class="bg-warning"></th>
                                    <th scope="row" class="bg-warning"></th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scGetAllCommsDocs.data.qryAllCommsDocs" id="tableRepeat1">
                                <tr>
                                    <td dmx-text="memNo.pad(4)"></td>
                                    <td dmx-text="fName+' '+lName"></td>
                                    <td dmx-text="commDesc"></td>
                                    <td dmx-text="updatedDate.formatDate('dd-MM-yyyy')"></td>

                                    <td dmx-text="commStatus+' '"></td>
                                    <td>
                                        <button id="btn1" class="btn btn-info" dmx-bs-tooltip="'Edit Document'" data-bs-trigger="hover"><i class="fas fa-edit"></i></button>
                                    </td>
                                    <td>
                                        <button id="btn2" class="btn btn-success" dmx-bs-tooltip="'Send or Create Document'" data-bs-trigger="hover"><i class="fas fa-paper-plane"></i></button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>