<!-- Wappler include head-page="layouts/lh_menu" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="all_comms_docs" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5Tooltips:{}}" -->
<meta name="ac:route" content="/emails/all_comms_docs">
<dmx-serverconnect id="scGetAllCommsDocs" url="/api/emailDocs/getCommsDocs"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row"></div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Comm desc</th>
                                    <th>Updated date</th>
                                    <th>F name</th>
                                    <th>L name</th>
                                    <th>Mem no</th>
                                    <th>Comm status</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scGetAllCommsDocs.data.qryAllCommsDocs" id="tableRepeat2">
                                <tr>
                                    <td dmx-text="commDesc"></td>
                                    <td dmx-text="updatedDate"></td>
                                    <td dmx-text="fName"></td>
                                    <td dmx-text="lName"></td>
                                    <td dmx-text="memNo"></td>
                                    <td dmx-text="commStatus"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>