<!-- Wappler include head-page="layouts/lh_menu" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="comms_docs" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{}}" -->
<meta name="ac:route" content="/emails/comms_docs">
<dmx-serverconnect id="scGetCommsDocs" url="/api/emailDocs/getCommsDocs"></dmx-serverconnect>
<div class="container">
  <div class="row">
    <div class="col bg-primary">
      <h6 class="text-light">Document Queue</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-break w-100">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>Comm desc</th>
              <th>Updated date</th>
              <th>Html</th>
              <th>F name</th>
              <th>L name</th>
              <th>Mem no</th>
            </tr>
          </thead>
          <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scGetCommsDocs.data.query" id="tableRepeat2">
            <tr>
              <td dmx-text="commDesc"></td>
              <td dmx-text="updatedDate"></td>
              <td dmx-text="html"></td>
              <td dmx-text="fName"></td>
              <td dmx-text="lName"></td>
              <td dmx-text="memNo"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>